*{
    margin: 0;
    padding: 0;
    background-color: #F9F5ED;
}

nav {
    padding: 16px;
    height: 15vh;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    margin-right: 5%;
}

.navbar img {
    margin-right: 5%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.left-section {
    width: 40%;
}

.left-section h1 {
    font-size: 3.2rem;
}

.left-section p {
    margin-top: 5%;
}

.left-section button {
    margin-top: 5%;
    background-color:#3B855B;
    padding: 10px;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}

.right-section {
    width: 60%;
    
}

