body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #111010;
}

header .container {
    padding: 50px 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: white;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.navbar button {
    border: none;
    background-color: #0C8BFD;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
}

.hero-section .container {
    padding: 50px 150px;
    display: flex;
    color: white;
}

.hero-section-left h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero-section button {
    padding: 15px 25px;
    border-radius: 25px;
    margin-top: 30px;
    color: white;
}

.hero-section .btn-1 {
    background-color: #0C8BFD;
    margin-right: 10px;
}

.hero-section .btn-2 {
    background-color: #111010;
    border: 1px solid white;
}

.hero-section-right img{
    width: 65vh;
}

.logo-section .container {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 40px 150px;
    background-color: #1D1C1C;
}

.services-section .container {
    text-align: center;
    color: black;
    background-color: white;
    padding: 40px 150px;
}

.three-card-section {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    padding: 50px;
}

.services-section h1 {
    font-size: 45px;
    font-weight: 500;
}

.services-section .card-1, 
.card-2, .card-3 {
    padding: 35px 10px;
    text-align: center;
    border-radius: 13px;
    width: 250px;
}

.services-section .card-1 img,
.card-2 img,
.card-3 img {
    width:10vh;
}

.card-1,
.card-3 {
    position: relative;
    top: 50px;
    border: 1px solid black;
}

.card-2 {
    border: 1px solid white;
    background-color: #111010;
    color: white;
}

.services-section .support-heading {
    text-align: start;
    width: 80%;
    padding: 0 80px;
}

.support-heading .left-right-section {
    display: flex;
}

.support-heading .left  ul{
    list-style-type: none;
    font-size: 1.2rem;
}

.support-heading .left  .blue {
    background-color: #0C8BFD;
    color: white;
}

.support-heading .left  li{
    width: 331px;
    border: 1px solid gray;
    padding: 25px 200px 25px 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-weight: 500;
}

.support-heading .right ul{
    font-size: 1rem;
    border: 1px solid black;
    padding: 20px 12px 10px 12px;
    margin-left: 50px;
    border-radius: 40px;
    background-color: #111010;
}

.support-heading .right .list {
    width: 250px;
    border: 1px solid black;
    padding: 15px 100px 15px 35px;
    margin-bottom: 5px;
    border-radius: 40px;
    background-color: #292828;
    color: white;
}

.pricing-section .container {
    padding: 40px 150px;
    background-color: #111010;
    color: white;
    height: auto;
}

.pricing-section .top {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.pricing-section .top h1 {
    margin: 50px 105px;
}

.pricing-section .bottom {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.pricing-section .bottom p {
    font-size: 12px;
}

.pricing-section .bottom .regular {
    border: 1px solid white;
    max-width: 35vh;
    padding: 20px 20px;
    border-radius: 40px;
}

.tick {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 5px;
    font-size: 15px;
}


.pricing-section .blue-tick-image {
    width: 15px;
}

.customer-review .container {
    padding: 40px 150px;

}

.customer-review .top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-review .bottom {
    display: flex;
    gap: 40px;
}

.customer-review  .review-2 {
    text-align: start;
    border: 1px solid black;
    padding: 20px;
    border-radius: 30px;

} 

.customer-review  .review-1 {
    background-color: #111010;
    color: white;
    text-align: start;
    padding: 20px;
    border-radius: 30px;
} 
