body {
    background-color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: start;
}

.list {
    display: flex;
}

li {
    margin: 16px;
    list-style-type: none;
    color: #ffffff;
    font-weight: bold;
}

.button-small {
    justify-content: flex-end;
}

.button-small,
.button-large {
    color: #ffffff;
    font-weight: bold;
    background-color: purple;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

.hero {
    background-image: url(bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    color: #ffffff;
}

.hero-heading {
    font-size: 3rem;
    text-overflow: clip;
}

.hero-description {
    font-weight:bold;
    font-size: 1.5rem;
}

.button-large {
    font-size:1.2rem;
}