*{
    box-sizing: border-box;
}

body {
    background-color: #151515;
}

header .container {
    padding: 10px 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 10px;
    list-style-type: none;
    color: white;
}

.navbar select,
.navbar button {
    background-color: #151515;
    border: none;
    color: white;
}

.navbar button {
    margin-left: 40px;
}

.navbar button img {
    position: relative;
    right: 39px;
    bottom: 18px;
}

.main-section-hero .container {
    padding: 10px 150px;
}

.hero-left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    color: white;
}

.hero-right-section img {
    width: 650px;
}

#back-image {
    position: absolute;
    top: 75px;
    right: 140px;
}


#front-image {
    position: absolute;
    top: 140px;
    right: 20px;
}

.hero-heading {
    font-size: 35px;
}

.hero-heading span {
    color: #F637EC;
}

.user-numbers {
    display: flex;
    gap: 15px;
    align-items: center;
}

.user-numbers h1 {
    font-size: 30px;
}

.hero-left-section button {
    font-size: 20px;
    background-color: #151515;
    border: none;
    color: white;
}

.hero-left-section .button-bg {
    position: relative;
    right:241px;
    top: 2px;
}

.logo-section .container {
    width: 100%;
    background-color: #292929;
    padding: 50px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.logo-section img {
    width: 100px;
}

.transaction-features .container {
    padding: 50px 150px 80px 150px;
}

.transaction-features .top-section {
    display: flex;
    gap:30px;
    align-items: center;
    color: white;
}

.transaction-features h1 {
    font-size: 50px;
    font-weight: 500;
}

.transaction-features .bottom-section {
    margin-top: 70px;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.dollar,
.cloud,
.lock {
    padding: 20px;
    border: 1px solid white;
    background-color: #272727;
    color: white;
    text-align: center;
}

.dollar img,
.cloud img,
.lock img{
    width: 100px;
}

.cloud {
    position: relative;
    bottom: 40px;
    background-color: #565555;
}

.card-choices .container {
    background-color: #FCEFFB;
    padding: 10px 400px;
    text-align: center;
}

.card-choices h1 {
    font-size: 55px;
}

.card-choices img {
    width: 800px;
    position: relative;
    right: 45px;
    bottom: 40px;
}

.customer-reviews .container {
    padding: 50px 150px ;
    color: white;
    text-align: center;
}

.review-heading h1{
    font-size: 55px;
    font-weight: 400;
}

.review-first-line {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    font-size: 13px;
    text-align: start;
    justify-content: center;
}

.review-second-line {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    font-size: 13px;
    text-align: start;
    justify-content: center;
}

.first-review {
    width: 400px;
    padding: 10px;
    background-color: #565554;
    border: 1px solid white;
}

.second-review,
.third-review,
.fourth-review {
    width: 400px;
    padding: 10px;
    background-color: #1E1F24;
    border: 1px solid white;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot-1 {
    width: 80px;
    height: 13px;
    border-radius: 10px;
    background-color: #F637EC;
    box-shadow:#F637EC;
}

.dot-2 {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #474447;
}

.get-started .container{
    max-height: 80%;
    padding: 100px 150px;
    margin-top: 100px;
    text-align: center;
    color: white;
}



.get-started h1 {
    font-size: 65px;
    font-weight: 500;
}

.get-started h1 span {
    color: black;
}

.get-started button {
    font-size: 1.1rem;
    background: none;
    border: none;
    color: white;
    z-index: 1;
}



.get-started .button-bg img{
    position: relative;
    right: 95px;
    bottom: 22px;
    z-index: 0;
}

.rectangle-1 {
    width: 100%;
    position: relative;
    bottom: 330px;
    z-index: -1;
}

.rectangle-2 {
    width: 100%;
    position: relative;
    bottom: 790px;
    z-index: -1;
}

.diamond-left {
    height: 400px;
    position: relative;
    bottom: 1242px;
    z-index: -1;
    left: 601px;
}

.diamond-right {
    height: 400px;
    position: relative;
    bottom: 78rem;
    right: 38rem;
    z-index: -1;
}

footer .container {
    margin-top: -1200px;
    padding: 0 200px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

footer img {
    width: 80%;
}

footer ul {
    display: flex;
    gap: 15px;
    margin-left: 200px;
}

footer ul li {
    list-style-type: none;
    color: white;
}