html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    padding: 25px 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .logo {
    margin-right: 200px;
}

header nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-weight: 600;
}

header button {
    padding: 15px;
    background: none;
    border: 2px solid #A275E1;
    border-radius: 40px;
    color: #A275E1;
    font-weight: 600;
}

#hero {
    padding: 25px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .left {
    width: 40%;
}

#hero .left .bottom {
    display: flex;
}

#hero .left h1 {
    font-size: 2.2rem;
}

#hero .top button {
    padding: 15px;
    border: none ;
    background-color: #F7F1FF;
    color: #A275E1;
    border-radius: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

#hero .top button a {
    color: #A275E1;
    font-weight: bold;
    
}

#hero .bottom .first {
    padding: 15px 25px;
    border: none ;
    background-color: #722ED1;
    color: #ffffff;
    border-radius: 40px;
}

#hero .bottom .second {
    padding: 15px 25px;
    border: none ;
    background-color: #ffffff;
    color: #722ED1;
    border-radius: 40px;
}

#big-data .container {
    margin-top: 70px;
    padding: 25px 350px;
    text-align: center;
}

#big-data .top button {
    padding: 10px 20px;
    border: none ;
    background-color: #F7F1FF;
    color: #A275E1;
    border-radius: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
}

#big-data p {
    color: gray;
}

#big-data .bottom {
    margin-top: 70px;
    display: flex;
    gap: 20px;
}

#big-data .bottom h2 {
    font-size: 0.9rem;
}

#best-stack .container,
#data-driven .container {
    margin-top: 100px;
    padding: 25px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

#best-stack .left img {
    width: 300px;
}

#data-driven .right img {
    width: 500px;
}

#best-stack p,
#data-driven p{
    color: gray;
}

#best-stack button,
#data-driven button {
    padding: 10px 20px;
    border: none ;
    background-color: #F7F1FF;
    color: #A275E1;
    border-radius: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

#best-stack .right {
    width: 40%;
}

#data-driven .left {
    width: 40%;
}

#profile {
    margin-top: 70px;
    padding: 25px 350px;
    text-align: center;
}

#profile h1{
    font-weight: 600;
    font-size: 1.5rem;
}

#profile p{
    font-weight: bold;
    font-size: 0.9rem;
}

#logo {
    padding: 25px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#logo img {
    width: 12vh;
}

#main-bottom {
    padding: 25px 250px;
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
}

#main-bottom .right {
    width: 35%;
    text-align: center;
    padding: 20px;
    border: none;
    background-color: #F9F0FF;
}

#main-bottom .left {
    width: 30%;
    padding: 50px 10px;
}


#main-bottom .left p {
    margin-bottom: 50px;
    text-align: center;
}

#main-bottom .left img {
    margin-right: 46px;
    margin-bottom: 65px;
}

#main-bottom input {
    display: block;
    margin: auto;
    background: none;
    color: gray;
    border: 1px solid lightgray;
    padding: 15px 25px;
    width: 83%;
    margin-top: 15px;
    border-radius: 3px;
}

#main-bottom button {
    padding: 15px 25px;
    background-color: #722ED1;
    color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 3px;
}

#main-bottom .right p {
    font-size: 0.9rem;
    color: gray;
}

form {
    background-color: #ffffff;
    padding: 10px;
}

footer .container {
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 25px 250px;
    color: black;
    gap: 50px;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    margin-top: 5px;
    font-weight: 200;
    font-size: 0.8rem;
}

.heading {
    font-weight: bold;
    font-size: 1rem;
}

.logolist {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

footer .logos p {
   font-size: 0.8rem;
}

.for-developers {
    width: fit-content;
}

.newsletter .email-send {
    background-image: url(./images/Icon\ ionic-ios-send.png);
    background-position: 200px 16px;
    background-repeat: no-repeat;
    padding: 12px 40px 12px 20px;
    box-shadow: 1px 1px 7px -3px gray;
}

.newsletter h1 {
    font-size: 1.3rem;
}

.newsletter .email-send input {
    border: none;
}

@media (max-width:600px){

    header {
        padding: 10px;
    }
    header nav {
        display: none;
    }

    #hero .left {
        width: 80%;
    }

    #big-data .container {
        margin-top: 70px;
        padding: 28px;
        text-align: center;
    }

    #hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #hero .right img {
        width: 80%;
        margin-left: 42px;
    }

    #hero .right {
        margin: auto;
    }

    #big-data .bottom {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        gap: 45px;
    }

    #best-stack .container, #data-driven .container {
        margin-top: 60px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }

    #best-stack .right {
        width: 89%;
    }

    #best-stack .left img {
        width: 270px;
    }

    #data-driven .left {
        width: 89%;
    }

    #data-driven .right img {
        width: 450px;
    }

    #profile {
        margin-top: 20px;
        padding: 25px;
        text-align: center;
    }

    #logo {
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 46px;
    }

    .logo-hidden {
        display: none;
    }

    #profile h1 {
        font-weight: 600;
        font-size: 1.3rem;
    }

    #main-bottom {
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 150px;
        margin-top: 50px;
    }

    #main-bottom .left {
        width: 100%;
        padding: 30px 10px;
    }

    #main-bottom .left img {
        width: 76px;
        margin-right: 117px;
        margin-bottom: 61px;
    }

    #main-bottom .right {
        width: 80%;
        text-align: center;
        margin: auto;
        padding: 20px;
        border: none;
        background-color: #F9F0FF;
        margin-top: -150px;
    }

    footer .container {
        margin-top: 75px;
        margin-bottom: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 25px;
        color: black;
        gap: 0px;
    }

    footer .logos {
        padding: 25px;
    }

    .four-logos {
        margin-left: 55px;
    }

    footer .logos p {
        font-size: 1.2rem;
    }

    footer ul li {
        margin-top: 5px;
        font-weight: 200;
        font-size: 1rem;
    }

    .newsletter {
        margin-left: 39px;
    }
}