body{
    margin: 0;
    padding: 0;
}

.header-main {
    background: url(./Photos/mainBackground.png) ;
    filter: brightness(90%);
    padding: 20px 100px;
} 

header {
    display: flex;
    justify-content: space-between;
    color: white;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 60px;
}

article {
    width: 30%;
    color: white;
    padding: 80px 0px;
}

article h1 {
    font-size: 3rem;
}

article p{
    font-size: 1rem;
}

article button{
    padding: 13px 27px;
    background-color: #6663E9;
    color: white;
    border: none;
    border-radius: 20px;
}

.logo-banner .container {
    padding: 36px 63px;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    bottom: 20px;
    box-shadow: 0px 0px 5px 0px gray
}

.logo-banner img {
    width: 130px;
}

.house-list .container {
    padding: 20px 100px;
    text-align: center;
    margin: auto;
}

.house {
    width: 290px;
}

.house img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.house .details {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    box-shadow: 0 0 1px 0 ;
    border-radius: 20px;
    height: 70px;
    gap: 5px;
    padding: 5px 10px;
    position: relative;
    bottom: 30px;
    background-color: white;
}

.house-list button{
    background-color: #6663E9;
    border: none;
    padding: 10px 19px;
    color: white;
    border-radius: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#house-2 {
    position: relative;
    top: 20px;
}

#house-3 {
    position: relative;
    top: 40px;
}
#house-4 {
    position: relative;
    top: 80px;
}
#house-5 {
    position: relative;
    top: 60px;
}
#house-6 {
    position: relative;
    top: 40px;
}
#house-7 {
    position: relative;
    top: 80px;
}
#house-8 {
    position: relative;
    top: 100px;
}
#house-9 {
    position: relative;
    top: 120px;
}

.features .container {
    padding: 200px 0px;
}

.features img {
    width: 81%;
    height: 58%;
    position: relative;
    bottom: 396px;
    left: 132px;
    border-radius: 40px;
}

.features .row {
    display: flex;
    justify-content: space-around;
}

.features .left {
    width: 30%;
}

.features .violet {
    height: 45vh;
    background-color: #6663E9;
    border-radius: 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.features .white {
    margin: auto;
    height: 90%;
    width: 50%;
    background-color: white;
    border-radius: 40px;
}

.features .right {
    width: 30%;
    text-align: start;
}

.features h1 {
    font-size: 2.5rem;
}

.features p {
    color: gray;
}

.features button {
    background-color: #6663E9;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.second-row .violet {
    height: 45vh;
    background-color: #6663E9;
    border-radius: 40px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}


.second-row img {
    width: 81%;
    height: 58%;
    position: relative;
    bottom: 378px;
    left: -44px;
    border-radius: 40px;
}

.newsletter .container {
    width: 70%;
    background-color: #6663E9;
    color: white;
    padding: 39px;
    border-radius: 50px;
    margin: auto;
    margin-top: -220px;
    text-align: center;
}

.newsletter h1 {
    font-size: 2.5rem;
    font-weight: 500;
    width: 60%;
    margin: auto;
}

.newsletter input {
    padding: 15px 71px;
    background-color: #5654D1;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
}

.newsletter button {
    padding: 13px 26px;
    background-color: white;
    color: #5653D1;
    border: none;
    border-radius: 20px;
}

footer {
    background-color: white;
    color: black;
    display: flex;
    gap: 50px;
    padding: 100px 225px;

}

footer .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer table, th, td{
    border-spacing:33px 16px;
    text-align: start;
}

footer table td {
    color: gray;
}

footer .logo {
    width: 10px;
}

footer td {
    width: 150px;
}