*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0F4F5;
}

nav {
    display: flex;
    align-items: center;
    height: 15vh;
    margin: 0 5%;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 50px;
    font-weight: 500;
    font-size: 1.2rem;
}

nav ul li:hover {
    color: #20BC7E;
}

main {
    display: flex;
    /* align-items: center; */
    margin: 0 5%;
}

.left-section {
    width: 50%;
}

main h1 {
    font-size: 70px;
}

main p {
    font-size: 1.3rem;
    margin-top: 5%;
    font-weight: 300;
}

.left-section button {
    height: 10vh;
    width: 45vh;
    padding: 25px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: #20BC7E;
    color: #ffffff;
    border-radius:50px;
    margin-top: 5%;
}

.bottom-angle {
    position: absolute;
    left: 735px;
    top: 565px;
}

.mouse {
    position: absolute;
    left: 780px;
    top: 600px;
}

.stethoscope {
    position: absolute;
    top: 50px;
    width: 50%;
    height: 90%;
}

.green-box {
    position: absolute;
    width: 30%;
    right: 30px;
    top: 200px;
}

.yellow-box {
    position: absolute;
    width: 28%;
    right: 10px;
    top: 230px;
}

.doctor {
    position: absolute;
    height: 85%;
    right: 10px;
}